.container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.socialsIcon {
    padding: 7px;
    background-color: var(--white-color);
    border-radius: 100%;
    color: var(--secondary-color);
    cursor: pointer;
}

.socialsIcon:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.borderLeft {
    padding-right: 18px;
    border-right: 1px dotted var(--white-color);
}